.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  background-image: url(/global.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  color: #fff;

}

.decorationFirst {
  position: absolute;
  width: 60vw;
  height: 4px;
  top: 25vh;
  left: 10%;

  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
}

.titleCont {
  margin-top: 20vh;

    -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.titleCont h1 {
    font-size: 10vw;
}

.titleCont h1 strong {
    color: #9488D7;
    font-size: 15vw;
}
